/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* bootstrap css */
body,html{
  height: 100%;
  margin: auto;
  background: #7F7FD5;
     background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
      background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.card{
  margin: auto;
  height: 600px;
  width: 500px;
  border-radius: 15px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.msg_card_body{
  overflow-y: auto;
  overflow-x: hidden;
 background-color: rgba(0,0,0,0.4) !important;
}
.card-header{
  font-family: Arvo, serif;
  color: #b3f1ff;
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
  display: inline-block !important;
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  padding: 0 !important;
  height: 65px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.container{
  align-content: center;
}
.form{
  margin: 0 !important;
  }
  
.type_msg{
  background-color: rgba(0, 0, 0, 0.3) !important;
  border:1px !important;
  color:rgba(255, 255, 255, 0.822) !important;
  border-radius: 0 0 0 0 ;
  height: 60px !important;
  width: 100% !important;
}
  .type_msg:focus{
    box-shadow:none !important;
      outline:0px !important;
}

.send_btn{
  background-color: rgba(0,0,0,0.3) !important;
  border: none !important;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
  margin-left:1px;
  height: 60px!important;
  border-radius: 0 10px 10px 0 !important;
}

.btn-emoji{
  height: 60px;
  background-color:rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 10%;
  right: 0;
  border-radius: 10px 0 0 10px;
  color: rgb(0, 0, 0) !important;
  outline: none !important;
  box-shadow: none !important;
  border:none !important;
  margin-bottom: 2px !important;
}

.emoji-row{
  display: flex;
  flex-direction: row;
}

.icon-text {
  width: 50px;
  height: 50px;
  background-color: chocolate;
  margin: auto 0;
  border-radius: 100%;
  text-align: center;
  vertical-align: center;
  margin-top: 50%;
}

.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 15px;
background-color: #b3f1ff;
padding: 9px;
position: relative;
max-width: 300px;
}
.msg_cotainer p {
  color: #1c2230;
  margin-bottom: 4px;
}
.msg_time {
  color: black;
  font-size: 11px;
  margin-left: 30%;
  padding-right: 15px;
  margin-top: 5px;
}

.btn {
  padding: 0px;
  background-color: transparent;
}

.cg-cl-del {
  color: red;
}


.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #eff0f1;
  background-color: rgb(104, 101, 155);
}
.rounded-circle {
  color: #222227;
  font-family: 'Arvo', serif;
  padding-left: 8px;
  padding-top: 8px;
}
.name {
  color: #e7c75b;
  font-family: arvo;
  padding-top: 10px;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
  margin-top: px;
  margin-right: 20px;
}
.d-flex {
  margin-right:20px;
}
.btn_resend{
  margin-top: 3px;
  margin-bottom: auto;
  margin-left: 78px;
  position: relative;
    
}
.circle{
  border-radius: 20px;
  padding: .1rem .3rem;
  color:rgb(255, 247, 247);
} 
@keyframes spinner {
to {
    transform: rotate(360deg);
}
}
.spinner {
  color: red;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.btn-logout {
  background: #222227;
  border-radius: 10px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  background-color:#0000;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #b3f1ff;
}
